---
layout: default
title: Welcome
---

<div class="container-fluid my-5">
  <div class="jumbotron bg-white">
    <div class="media">
      <div class="media-body">
        <h1 class="display-4">Hi there!</h1>
        <p class="lead">My name is Sergej. I like to build software, write text & be creative. Welcome to my personal
          corner
          of the internet.</p>
      </div>

      <img
        class="pl-3 img-fluid rounded-circle"
        src="{{site.baseurl}}/assets/images/s-gbz.jpg"
        style="max-width: 50%;"
      >
      <hr class="my-4">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      {% include home-showcase-element.html btn_caption = 'About' sub_url = 'about' tilt_angle = 'transform:
      rotate(-5deg);' %}
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-4">
      {% include home-showcase-element.html btn_caption = 'Blog' sub_url = 'blog' tilt_angle = 'transform:
      translateY(-25%);' %}
    </div>

    <div class="col-4"></div>

    <div class="col-4">
      {% include home-showcase-element.html btn_caption = 'Photography' sub_url = 'photography' tilt_angle =
      'transform:
      rotate(15deg);' %}
    </div>
  </div>
</div>